@import "tailwindcss";
@font-face {
    font-family: poppins;
    src: url(./assets/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinsregular;
    src: url(./assets/Poppins-Regular.ttf);
}
@font-face {
    font-family: anurati;
    src: url(./assets/Anurati-Regular.otf);
}
*{
    font-family: poppins;
    user-select: none;
  
    box-sizing: border-box;
}

body,html{
    overflow-x: hidden;   scroll-behavior: smooth;
    
   
}
h4{
font-family: anurati;
/* font-size: 30px; */
  }
/* Style for the custom scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #4298df; /* Blue color */
    border-radius: 5px; /* Optional, for rounded edges */
}

::-webkit-scrollbar-track {
    background: transparent; /* Track background color */
}

h1{
    font-family:poppinsregular ;
    font-weight: 700;
    font-size: small;
}

h3{
    font-size: small;
    font-family: poppinsregular;
    font-weight: 300;
}

p{
    font-family: poppinsregular;
    font-weight: lighter;
    
}